{% extends 'eventos/menu.html' %}
{% block content %}

<h1>Asistentes</h1>
  {% if asistentes %}
  <table>
	<tr>
	  <th>Evento</th>
	  <th>Nombre</th>
	  <th>Apellido</th>
	  <th>Telefono</th>
	  <th>Email</th>
	  <th>Organizacion</th>
	</tr>
	{% for a in asistentes %}
	<tr>
	  <td>{{ a.evento }}</td>
	  <td>{{ a.nombre_asistente }}</td>
	  <td>{{ a.apellido_asistente}}</td>
	  <td>{{ a.telefono }}</td>
	  <td>{{ a.email }}</td>
	  <td>{{ a.organizacion_asistente}}</td>
	</tr>
	{% endfor %}
  </table>
{% else %}
<p>No hay asistentes por ahora</p>
{% endif %}
{% endblock %}