{% load static %}
<!doctype html>
<html>
    <head>
        <title>Menu</title>
        <link rel="stylesheet" type="text/css" href="{% static 'eventos/style.css' %}">
    </head>
    <body>
        <div>
        <span><a href="{% url 'eventos:index' %}">Eventos</a></span>
        <span><a href="{% url 'eventos:ponencias' 0 %}">Ponencias</a></span>
        <span><a href="{% url 'eventos:ponentes' 0 %}">Ponentes</a></span>
        <span><a href="{% url 'eventos:crearEvento' %}">Crear evento</a></span>
        <span><a href="{% url 'eventos:crearPonencia' %}">Crear ponencia</a></span>
        <span><a href="{% url 'eventos:agregarPonente' %}">Agregar ponente</a></span>
        <span><a href="{% url 'eventos:agregarAsistente' %}">Agregar asistente</a></span>
        <span><a href="{% url 'eventos:agregarFecha' %}">Agregar fecha</a></span>
        <span><a href="">Crear gerente</a></span>
        <span><a href="{% url 'eventos:crearAgente' %}">Crear agente</a></span>
        </div>
        {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
        {% block content %}
        {% endblock %}
    </body>
</html>
